<div class="container">
  <ngb-tabset>
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>
        <p>This is the content of the first tab!</p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> This is an alert!
        </ngb-alert>

        <ngb-carousel class="app-my-carousel">
          <ng-template ngbSlide>
            <img src="http://lorempixel.com/900/500?r=1" alt="First">
            <div class="carousel-caption">
              <h3>First</h3>
              <p>First description</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="http://lorempixel.com/900/500?r=2" alt="Second">
            <div class="carousel-caption">
              <h3>Second</h3>
              <p>Second description</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="http://lorempixel.com/900/500?r=3" alt="Second">
            <div class="carousel-caption">
              <h3>Second</h3>
              <p>Second description</p>
            </div>
          </ng-template>
        </ngb-carousel>

        <ngb-accordion>
          <ngb-panel title="First panel">
            <ng-template ngbPanelContent>
              <ngb-accordion>
                <ngb-panel id="1" title="First panel">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="2" title="Second panel">
                  <ng-template ngbPanelContent>
                    Example.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>
        <p>This is the content of the second tab!</p>
        <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>This tab is disabled</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
